
<div class="task-list">
    <h2>Task List <b style="color: red;">{{tasks.length}}</b></h2>
  
    <!-- Button to send a new task -->
    <div class="send-task">
      <input type="text" [(ngModel)]="newTaskName" placeholder="Task Name" />
      <input type="number" [(ngModel)]="newTaskDays" placeholder="Days" />
      <button (click)="sendTask()">Add Task</button>
    </div>
  

<div *ngIf="tasks && tasks.length > 0; else noTasks">
  <table class="task-table">
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Days</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.name }}</td>
        <td>{{ task.days }}</td>
      </tr>
    </tbody>
  </table>
</div>


    <!-- No tasks message -->
    <ng-template #noTasks>
      <p>No tasks to display</p>
    </ng-template>
  </div>
  
























<!-- 
  
<div class="task-list">
  <h2>Task List <b style="color: red;">{{tasks.length}}</b></h2>

  <div class="send-task">
    <input type="text" [(ngModel)]="newTaskName" placeholder="Task Name" />
    <input type="number" [(ngModel)]="newTaskDays" placeholder="Days" />
    <button (click)="sendTask()">Add Task</button>
  </div>

  
<div *ngIf="tasks && tasks.length > 0; else noTasks">
<table class="task-table">
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Days</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.name }}</td>
      <td>{{ task.days }}</td>
    </tr>
  </tbody>
</table>
</div>

  <ng-template #noTasks>
    <p>No tasks to display</p>
  </ng-template>
</div> -->
